<h1>activerecord model test</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @result.each do |result| %>
    <tr>
        <td>
            <ul>
                <li>
                    <h1>ayah <%= result.ayah_key %></h1>
                    <ul>
                        <% result.words.each do |word| %>
                        <% word.stems.each do |stem| %>
                        <li>
                            <h2>token <%= word.token.value %> stem <%= stem.value %></h2>
                            <ul>
                            <% stem.lemmas.each do |lemma| %>
                                <li>
                                    <h3>lemma <%= lemma.value %></h3>
                                </li>
                            <% end %>
                            </ul>
                        </li>
                        <% end %>
                        <% end %>
                    </ul>
                </li>
            </ul>
        </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
